.profileImage {
    padding: 8rem 0rem;
    background-position: 'centerbottom';
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    overflow: auto;    
}

.card.card-body.formdiv-main { padding:30px 30px; border-radius: 8px; }

.card.card-body button.btn.btn-primary {
    width: 100%;
    margin-top: 12px;
}

.logoimgtext { margin-bottom: 50px;     font-size: 40px;}


.btnbtn-primary { background-color: #ebc942 ; width: 100%;
    padding: 8px 0 12px 0;
    margin: 10px 0 0 0;
    line-height: normal;
    color: #323232;
    font-weight: 600; cursor: pointer;
border-radius: 4px; border: none; outline: none; box-shadow: none;}

.btnbtn-primary:focus, .btnbtn-primary:focus-visible { border: none; outline: none; box-shadow: none;}

.loginForms .form-group label { color: #7d7d7d; font-size: 16px;  margin-bottom: 4px; }

.form-control.controls-custom { color: #7d7d7d; background:#303a42; border: 0px;}
.form-control.controls-custom:focus { border: 0px; box-shadow: none; outline: none;}
