<nav class="navbar navbar-expand-md fixed-top bg-light shadow">
    <div class="navbar-nav ml-auto">
        <div class="nav-item dropdown">    
            <!-- <app-header-menu
            #ktHeaderMenu
            id="kt_header_menu"
            class="header-menu header-menu-mobile"
           
          ></app-header-menu> -->
            <div class="dropdown-menu">
                <a class="dropdown-item" (click)="Logout()">Logout</a>
                <!-- <a class="dropdown-item">Link 2</a>
                    <a  class="dropdown-item">Link 3</a> -->
            </div>
        </div>
    </div>
</nav>