
a.navbar-brand { color: #fff;     font-size: 24px;}
ul.navbar-nav.mynavs li a { color: #fff;     font-size: 20px;}
.form-inline.cdscsd a{ color: #fff;  font-size: 20px;  text-decoration: none;}
.form-inline.cdscsd a:hover{ text-decoration: none;}