
.shopping-text { font-size: 24px;}

.back_clr.card.card-body.text-alls { margin-bottom: 5px; padding: 3px 15px 10px 15px;}
.back_clr.card.card-body.text-alls p { margin: 0px; padding: 0px;}
.back_clr.card.card-body.text-alls span h4 { margin: 0px; padding: 2px 0px; font-size: 18px;}

.iconsright { text-align: right; font-size: 10px;}