<div class="container">
    <div class="row">
        <div class="col-2 align-self-center">
            <h3 class="shopping-text">Shopping List</h3>
        </div>
        <div class="col-2 align-self-center" [formGroup]="searchFormGroup">
            <select class="form-control" name="gender" formControlName="CategoryId" (change)="onSelectionChange()">
                <option value="">All Category</option>
                <option *ngFor="let category of categoryTypeList" [value]="category.id">
                    {{ category.name }}
                </option>
            </select>
        </div>
        <div class="col-8">
            <button class="btn btn-primary float-right" (click)="appendItemDetail()">
                Add Item
            </button>
        </div>
    </div>
    <div class="m_t_20">
    </div>
    <div *ngFor="let item of itemList">
        <div class="back_clr card card-body text-alls">
            <div class="row">
                <div class="col-10 align-self-center">
                    <p>
                        {{item.payload.doc.data().categoryId |categoryName:categoryTypeList}}
                    </p>
                    <span>
                        <h4>
                            {{item.payload.doc.data().name}}
                        </h4>
                    </span>
                    <p>
                        {{item.payload.doc.data().description}}
                    </p>
                </div>
                <div class="col-2 align-self-center">
                    <div class="iconsright">
                        <span class="" (click)="update(item)"><i class="fa fa-pencil-square-o fa-2x pr-3"
                                aria-hidden="true"></i></span>
                        <span *ngIf="item.payload.doc.data().userId==userId" (click)="deleteItem(item)"><i
                                class="fa fa-trash fa-2x" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>